<h2><%= @title %></h2>

<p>
<video controls="" preload="metadata" src="" width="850" height="480">&nbsp;</video>
</p>

<h3>Kapitel</h3>

<%- @chapters.each do |chapter| -%>
<p><%= chapter %></p>
<%- end -%>
